<template>
  <div class="authentication">
    <div v-if="!loggedIn()" >
      <div v-if="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" id="auth-login-tab">
          <a class="nav-link active"
            data-toggle="tab"
            href="#auth-login"
            role="tab"
            aria-controls="home" aria-selected="true">entrar com</a>
        </li>
        <li class="nav-item" id="auth-register-tab">
          <a class="nav-link"
            data-toggle="tab"
            href="#auth-register"
            role="tab"
            aria-controls="profile" aria-selected="false">criar novo usuário</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="auth-login" role="tabpanel" aria-labelledby="auth-login-tab">
          <form class="form-signin" @submit="localLogin">
            <label for="auth-login-email" class="sr-only">Seu email</label>
            <input v-model="local.email" type="email" id="auth-login-name" class="form-control" placeholder="Seu email" required autofocus>

            <label for="auth-login-pass" class="sr-only">Senha</label>
            <input v-model="local.password" type="password" id="auth-login-pass" class="form-control" placeholder="Senha" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>

        <div class="tab-pane fade" id="auth-register" role="tabpanel" aria-labelledby="auth-register-tab">
          <form class="form-signin" @submit="localRegister">
            <label for="auth-register-full_name" class="sr-only">Seu nome completo</label>
            <input v-model="local.full_name" type="text" id="auth-register-full_name" class="form-control" placeholder="Seu nome completo" required autofocus>

            <label for="auth-register-email" class="sr-only">Seu email</label>
            <input v-model="local.email" type="email" id="auth-register-email" class="form-control" placeholder="Seu email" required>

            <label for="auth-register-password" class="sr-only">Senha</label>
            <input v-model="local.password" type="password" id="auth-register-password" class="form-control" placeholder="Senha" required>
            
            <label for="auth-register-password_confirmation" class="sr-only">Confirmação da Senha</label>
            <input v-model="local.password_confirmation" type="password" id="auth-register-password_confirmation" class="form-control" placeholder="Confirmação da Senha" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" >Registrar-se</button>
          </form>
        </div>
      </div>

      <div class="checkbox mb-3">
        <label><input type="checkbox" value="remember-me" v-model="rememberMe"> Lembrar de mim </label>
      </div>

    </div>

    <button v-if="showLogoutButton()" @click="logout()">Sair</button>

    <div v-if="showFacebookComponent()" class="facebook-login">
      <hr v-if="!loggedIn()">
      <v-facebook-login ref="facebook_login"
                        @sdk-init="onFacebookSdkInit"
                        @connect="onFacebookConnect"
                        @logout="onFacebookLogout"
                        :app-id="config.facebook.appId">
        <span slot="login">ou se preferir entre com o facebook</span>
        <span slot="logout">vecê entrou com o facebook, clique aqui para sair</span>
      </v-facebook-login>
    </div>

    <div v-if="user" class="info">
      <hr>
      <code class="user-data">
        <strong>Dados do usuário</strong>
        <div>id: <strong>{{user.id}}</strong></div>
        <div>nome: <strong>{{user.full_name}}</strong></div>
        <div>email: <strong>{{user.email}}</strong></div>
        <hr>
        <strong>Authorization token: </strong>
        {{token}}
      </code>
    </div>
  </div>
</template>

<script>
  import api from '../api';
  import storage from '../storage';
  import auth from '../auth';

  import {
    VFBLogin as VFacebookLogin
  } from 'vue-facebook-login-component'

  export default {
    name: 'FacebookWidget',
    components: {
      VFacebookLogin
    },

    props: {
      config: {
        default: {
          facebook: {}
        },
        required: true
      }
    },

    data() {
      return {
        errorMessage: '',
        rememberMe: false,
        token: null,
        strategy: null,
        local: {
          email: '',
          password: ''
        },
        facebook: {
          accessToken: '',
          FB: {},
          model: {}
        },

        user: null
      }
    },

    mounted(){
      this.rememberMe = storage.get('rememberMe');
      this.token = storage.get('token');
      this.strategy = storage.get('strategy');

      if(this.token && this.strategy){
        this.login(this.token, this.strategy);
      }
    },

    watch: {
      token(newValue){
        storage.set('token', newValue);
      },

      strategy(newValue){
        storage.set('strategy', newValue);
      },
      
      rememberMe(newValue){
        if(newValue){
          storage.remember('rememberMe', true);
          if(this.loggedIn()){
            storage.remember('token', storage.get('token'));
            storage.remember('strategy', storage.get('strategy'));
          }
        } else {
          storage.forget('rememberMe');
          storage.forget('token');
          storage.forget('strategy');
        }
      }
    },

    methods: {

      error(message){
        this.errorMessage = message;
        setTimeout(() => this.errorMessage = '', 5000);
      },

      loggedIn() {
        return !!this.token;
      },  

      showLogoutButton(){
        return auth.loggedIn() && this.strategy === 'local';
      },

      showFacebookComponent() {
        return this.config.facebook && this.config.facebook.appId && (!auth.loggedIn() || this.strategy === 'facebookToken');
      },

      /**
       * Register the user with email and password
       */
      async localRegister(e) {
        e.preventDefault();

        try{
          const response = await auth.localRegister(this.local);
          this.localLogin(e);
        } catch (error) {
          const response = error.response.data;
          
          this.error(response[0].field + ': ' + response[0].message)
        }
      },

      /**
       * obtain the authorization token with email and password
       */
      async localLogin(e) {
        if(e){
          e.preventDefault();
        }
        try{
          const response = await api.post('/auth', {strategy: 'local', ...this.local});
          this.login(response.data.token, 'local');
          this.local = {};
        } catch (error) {
          this.error('Email ou senha inválidos');
        }
      },

      logout() {
        this.token = null;
        this.strategy = null;
        this.user = null;
        auth.logout();
      },
      
      async login(token, strategy) {
        auth.login(token, strategy);
        
        this.token = storage.get('token');
        this.strategy = storage.get('strategy');

        if(auth.loggedIn()){
          this.user = await auth.getUserData();
        } else {
          this.user = null;
        }
      },

      getFacebookUserData() {
        const { api } = this.facebook.FB;

        api('/me', { fields: 'id,name,email' }, user => {
          this.user = Object.assign({}, this.user, user)
        });
      },

      onFacebookSdkInit({ FB }) {
        this.facebook.FB = FB
      },

      async onFacebookConnect() {
        if(auth.loggedIn()){
          return;
        }
        this.getFacebookUserData();

        this.facebook.accessToken = this.facebook.FB.getAccessToken();

        /**
         * obtain the authorization token with facebook token
         * 
         * if the user does not exists, the endpoint will create a new user
         */
        try{
          const authResponse = await api.post('/auth', {
            "strategy": "facebookToken",
            "access_token": this.facebook.accessToken
          });
          
          this.login(authResponse.data.token, 'facebookToken');
        } catch (error){
          this.error('Token do facebook inválido');
        }        
      },

      onFacebookLogout(){
        this.logout();
      }
    }
  }

</script>

<style>
.authentication {
  max-width: 500px;
  margin:0 auto;
}
.authentication .facebook-login{
  display:inline-block;
  margin:auto;
}
.authentication code {
  background: #dadada;
  display: block;
  margin:1em auto;
  padding: 1em;
  word-break: break-word;
}
.authentication .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.authentication .form-signin .checkbox {
  font-weight: 400;
}
.authentication .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.authentication .form-signin .form-control:focus {
  z-index: 2;
}
.authentication .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.authentication .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

code.user-data {
  text-align: left;
}
</style>
