<template>
  <div id="app">
    <h1>{{title}}</h1>
    <Authentication :config="config"/>
  </div>
</template>

<script>
import api from './api';

// includes bootstrap
import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css'

import Authentication from './components/Authentication.vue'

export default {
  name: 'app',
  data() {
    return {
      title: "Node.js Base Project",
      config: {
        authentication: {}
      }
    }
  },

  mounted(){
    this.token = localStorage.token;

    var self = this;
    api.get("/config.json").then(function(response){
      self.config = response.data;
    });
  },
  components: {
    Authentication
  }
}
</script>

<style>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin:0 auto;
}
</style>
